body
{
	margin:0; 
	padding:0;
	font-family:"Open Sans Light";
	overflow-x:hidden;
    
}

::-webkit-scrollbar { width: 8px; height: 8px;}
::-webkit-scrollbar-button {  background-color:#333; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color:#F0F0F0;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #00BCD4; border-radius: 0px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #665;}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src:url(fonts/ColabThi.otf);
}


#menu
{
	right:0px;
	top:-13px;
	position:fixed;
	z-index:1000;
    
}

p
{
    line-height: 20px;
    text-align: justify;
}

#menu li /*Styling the li part of the menu*/
{
    float:left;
	font-size:16px;
    padding:4px 0px 4px 0px;
    display:inline-block;
    position:relative;
    text-align:center;
    margin-right:30px;
    margin-top:7px;
    border:none;
	color:#FFF;

}

#menu li a /*Styling the link part of the menu li*/
{
    text-decoration:none;
    color:#FFF;
    text-shadow:none
}

#menu li:hover a /*Styling the link part of the menu li in hover state*/
{
    color:#FFF;
	text-shadow:1px 1px 5px #6FF;
}

.workimages:hover{
width:290px;
cursor: pointer;
}

.contacticons:hover{
padding-bottom: 5px;
cursor: pointer;
}

#myimage{
border-radius: 50%;
width: 190px;
height: 190px; 
background-image:url(images/about1.png);
cursor: pointer;

}

#myimage:hover{
background-image:url(images/about2.jpg);
cursor: pointer;
}