extends ../../layout.jade
block content
	include ../nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header Mean Machine
		p.project-subtitle A Boilterplate for Mean Apps
	row
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3 Giving back to Open Source
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			p Working on so many MEAN apps , I realized the importance of a bolierplate, to get a head start for my next projects
			p I have built this boilerplate based upon my learnings and understandings in different projects and inspired from various readings. It inclues gulp to automate tasks, and I plan to improve upon it and release a stable version for it with minimal required things plugged in. So that it may help people who stumble upon the same stair. #[a(href="http://www.github.com/vishivish18/mean-machine") Mean Machine]
			h3 #[a(href="http://themeanmachine.herokuapp.com/") Demo]

	row
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3(style='text-align:left') Login			
			img.img-responsive(src="/images/mm1.png",height="300",style="border:1px solid #ccc")
			h3(style='text-align:left') Simple CRUD module
			img.img-responsive(src="/images/mm3.png",height="300",style="border:1px solid #ccc")
			h3(style='text-align:left') Email verification				
			img.img-responsive(src="/images/mm2.png",height="300",style="border:1px solid #ccc")
			
	
	//- include ../footer.jade

        
	