extends ../../layout.jade
block content
	include ../nav.jade

	#page-top(style='text-align:center')
		p.top-buffer.section-header MKA
		p.project-subtitle A Desktop Application Which Cares For Your Health
	row
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:left')
			h1 TL;DR
			h3 MKA is a desktop application, that reminds you to take breaks at different intervals and suggests exercies and tips to stay fit.
			h4 Checkout the app at #[a(href="http://www.getmka.in") www.getmka.in]
	row
		.col-xs-12
		img(src="http://www.specta.in/mka/images/line_pattern.png",width="100%",height="5px")
	row
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3 The Story
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			p What started as a funny discussion with #[a(href="http://www.sankalpsinha.com") Sankalp], turned out to be our first quest for a fully functional deliverable app. While still in college we planned to develop an application which can solve a major problem which we were facing, Long uninterrupted hours at computers. We knew small breaks are needed but still we never took it. We needed a push to make us take that break, We realized its a common problem specially for the youth and people with desk jobs.
			p College was over but the project went on, my friend #[a(href="https://www.facebook.com/divya.aditya91") Aditya] joined us and provided the speed we lacked. Finally with constant help from #[a(href="http://www.roshanraj.com") Roshan] ( I owe my learnings to him ) and many failed deadlines, we launched. We surely had more #[a(href="http://www.specta.in/mka/credits.html") help]. Those were crazy days, we worked, played and enjoyed every small bit of success or failure that we got.
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3 The Product
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			p As we started working on it, we realized the value of it. The product idea evolved with time and self realization. From adding a snooze button to making intervals variable, all the changes came through our learnings. What we released was obviouslly not the best thing out there. It broke at many points, in many different systems. We released patches and versions and thereby realized the importance of getting your project 'out there'. 
			p What ever small buzz we buit, did not last long because we could not keep up with the pace. But for the record we managed 4k+ downloads.
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3 The Learning
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			p We did almost everything wrong in this project, from sharing code via pen drives and emails (yes, we did not know how to use git), to being stuck in the details. In the start we did not even do a market research. It was not untill a year later when we searched for similar products and found many. We could have learnt from them. We did not push for platforms like producthunt. We did not plan the product road map. We missed out a whole big community of Mac and Linux. Our application needed many improvemnts, it did not learn and was dead static.  But the only thing that we did right here was, we launched.
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3 What next for mka ?
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			p We stopped the development almost 2 years ago after few months of launch and I still see few people downloading it once in a while. And still the logics we wrote, and the design we made make it to someone's PC once in a while.. That's the beauty of internet. 
			p All of us are busy now making different career choices and exploring different streams. But we are still in touch, and every now and then we do talk about it. Our AI enthusiast pal #[a(href="http://www.hellorahulk.com") Rahul] is most of the times excited to re-do it with AI. We are working on some projects together. And someday for sure we will do a MKA redux and make better and creative mistakes.

	

	//- include ../footer.jade

        
	