extends ../../layout.jade
block content
	include ../nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header Open Flush
		p.project-subtitle A Mutiplayer Online Card Game
		video(width='320', height='240', controls='', poster="/images/cardsback1.png")
			source(src='/images/op.mp4', type='video/mp4')

	
	
	
	include ../footer.jade

        
	