extends ../../layout.jade
block content
	include ../nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header Open Flush
		p.project-subtitle A Mutiplayer Online Card Game
		video(width='320', height='240', controls='', poster="/images/cardsback1.png")
			source(src='/images/op.mp4', type='video/mp4')

	row
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3 Coding in the hills of Mussoorie
			h5 Team Mates | #[a(href="http://www.roshanraj.com") Roshan Raj],#[a(href="http://www.hellorahulk.com") Rahul Kumar] and #[a(href="http://www.sankalpsinha.com") Sankalp Sinha]
			
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			p This was our first real time project for a client, something we were paid for. Which included a 3 week stay in Mussorie. The pleasure of coding in the mountains with beautiful backdrops still comes seond to none.
			p The aim was to develop a multiplayer online card game, which included real money transaction. With many ups and downs we finally completed the projected but it failed to perform in real time. While still in college we chose the wrong tech stack and ended up developing a heavy desktop application (42MB phew !) in Java which ran over the internet. We again turned to this project a couples of years later and tried re doing it with Node, though this project never saw the light of day, due to some personal/professional issues,it holds a very special place in my code yard. We owe many learning to this. Just for fun I have been trying to bring this to life (#[a(href="http://open-flush.vishalranjan.in/") Sneak Peak] ) 


		
	
	
	//- include ../footer.jade

        
	