extends ../../layout.jade
block content
	include ../nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header Sanepharma
		p.project-subtitle Medical Stock Management
	row
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3 Medical Stocks
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			p This is one of my freelance projects, which is completely developed on the MEAN stack. This application solves the basic problem of stock mangement and invoice generation for all types of medical companies. (Manufacturers, Stockists etc).
			p Being a NDA project I can only include the screenshots, but I am working on making it an open source project by extracting pieces out of it and extending it. #[a(href="http://www.github.com/vishivish18/med-stock") Med-Stock]
	row
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3(style='text-align:left') Dashboard			
			img.img-responsive(src="/images/sp4.png",height="300",style="border:1px solid #ccc")
			h3(style='text-align:left') Products Listing
			img.img-responsive(src="/images/sp5.png",height="300",style="border:1px solid #ccc")
			h3(style='text-align:left') Companies Listing / Sales Options				
			img.img-responsive(src="/images/sp6.png",height="300",style="border:1px solid #ccc")
			h3(style='text-align:left') Invoice Entry
			img.img-responsive(src="/images/sp7.png",height="300",style="border:1px solid #ccc")
			h3(style='text-align:left') Purchse Entry
			img.img-responsive(src="/images/sp1.png",height="300",style="border:1px solid #ccc")
			h3(style='text-align:left') Bill Header
			img.img-responsive(src="/images/sp3.png",height="300",style="border:1px solid #ccc")
			h3(style='text-align:left') User Roles and Permissions
			img.img-responsive(src="/images/sp2.png",height="300",style="border:1px solid #ccc")
