extends ../../layout.jade
block content
	include ../nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header Ultimate Tic Tac Toe
		p.project-subtitle A Desktop Application Which Cares For Your Health
	
	
	
	include ../footer.jade

        
	