extends ../../layout.jade
block content
	include ../nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header Ultimate Tic Tac Toe
		p.project-subtitle My Tryst With Artificial Intelligence
	row
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3 Esya - #[a(href="http://esyabot.herokuapp.com/") Demo]
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			p Well, I always thought that tic-tac-toe can never be interesting, if both players know how to play, untill my friend  #[a(href="https://www.shashank.im") Shashank] introduced me to ultimate-tic-toe, while playing it on the white board I decided to have a go at it with my code. So with the help of designing skills of #[a(href="https://www.facebook.com/dev.aditya22") Aditya], I have some what created the base. I have also created a data extraction patter for all moves and will slowly move towards introducing AI in this. 
	row
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3(style='text-align:left') One fine evening			
			img.img-responsive(src="/images/uttt.png",height="300",style="border:1px solid #ccc")
			
	
	//- include ../footer.jade

        
	