extends ../../layout.jade
block content
	include ../nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header Trail Tracker
		p.project-subtitle A Vehicle Tracking System
	
	
	row
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3 VTS
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			p This one is a whole vehicle tracking system which includes a hardware device which plugs in your vehicle along with a web portal to track your vehicles
			p I did this one with my childhood friend and hardware genius. #[a(href="https://www.facebook.com/profile.php?id=100005215215987&fref=ts") Abhishek], for his comapny, ARVAA Devices Private Limited. He is still busy making iterations in it, but the MVP includes, features like, tracking, accident alert, theft alert etc.
	row
		.col-md-offset-2.col-md-8.col-xs-offset-1.col-xs-10(style='text-align:justify')
			h3(style='text-align:left') Dashboard			
			img.img-responsive(src="/images/tt1.png",height="300",style="border:1px solid #ccc")
			h3(style='text-align:left') Vechile Tracking
			img.img-responsive(src="/images/tt2.png",height="300",style="border:1px solid #ccc")
			

	//- include ../footer.jade

        
	