@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  font-family: var(--font-inter), sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 24;
}

.editorial-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}
