extends ../layout.jade
block content
	include ./nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header ABOUT
	col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8.col-xs-offset-1.col-xs-10
		p(style="text-align:justify;font-size:16px;") My name is Vishal Ranjan and I am a full-stack web developer, currently living in New Delhi, India. I love anything that is JS and thus enjoy the #[a.hyper(href="https://en.wikipedia.org/wiki/MEAN_(software_bundle)") MEAN] stack. I have just started exploring python, and I am loving the parselmouth too. I have been an AI enthusiast and my next endevaours lie somewhere out there. I love the fact that what I do for passion and curiosity is my profession too. I worked with #[a.hyper(href="http://exponential.com/") Exponential Interactive] for a year and half, untill I joined #[a.hyper(href="http://musejam.com/") Musejam] as a web developer (a startup I work with currently). I also work with a superhero team at #[a.hyper(href="http://www.specta.in") Specta] creating things we want.  I read books , play the guitar and write some pretty bad poetry. I ocassionally get lost in the woods or the hills to carve my wanderlust.
	col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8.col-xs-offset-1.col-xs-10
		p(style="text-align:justify;font-size:16px;") If you want to hire me or want me to work on your next project , or may be just want to say hello. Get in touch
	img(src="/images/back0.png",width="100%")
	include ./footer.jade

