extends ../layout.jade
block content
	include ./nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header ABOUT
		p They say I am a dreamer...
		p but I am not the only one - The Beatles
		p They say I am a dreamer...
		p but I am not the only one - The Beatles
		p They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatlesp They say I am a dreamer...
		p but I am not the only one - The Beatles