extends ../layout.jade
block content
	include ./nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header ABOUT
		//- p dangling between a generalist and dabbler...		
		//- p enroute dabbler to a generalist....
	col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8.col-xs-offset-1.col-xs-10
		p(style="text-align:justify;font-size:16px;") My name is Vishal Ranjan and I am an aspiring generalist, currently living and moving around North India. I am obssessed with the possibilities and beauty of programming in problem solving and fortunately what I do for passion and curiosity is my profession too. I have worked with #[a.hyper(href="http://exponential.com/") Exponential Interactive] and #[a.hyper(href="http://musejam.com/") Musejam] and currently I work with, #[a.hyper(href="http://cygrp.com/") Cyber Group] as a Senior Software Engineer. I also help and consult some amazing folks at #[a.hyper(href="http://botsupply.co/") Botsupply] who are making user interactions awesome, one bot at a time (Which includes AI and Machine Learning - My next endevaours). When not coding, I read books , play the guitar, take my bike to long solo rides and write some pretty bad poetry. More often than not I get lost in the woods or the hills to carve my wanderlust.
	col-md-offset-1.col-md-10.col-lg-offset-2.col-lg-8.col-xs-offset-1.col-xs-10
		p(style="text-align:justify;font-size:16px;") I am not looking for any full time position as of now but I am always open to ideas and projects that excite me and where I can contribute at my own pace and preference. If you want to hire me or want me to work on your next project , or may be just want to say hello. You know where to find me. Get in touch
	img(src="/images/back0.png",width="100%")
	include ./footer.jade

