p(style="text-align:center;margin-top:30px;border-top:1px solid #ccc;padding:20px;") &#169; 2015-16 | Let me know if you want to reproduce any of the work | Coded in those sleepless nights by Vishal R