.row(style="text-align:center;margin-top:30px;position: relative;left: 0;bottom: 0;height:50px;width: 100%;background: white;border-top: 2px solid #F0F0F0;z-index: 10;padding:20px; font-size:11px;")
	.col-md-10
		p 	&#169; 2015-18 | Let me know if you want to reproduce any of the listed work | Crafted in some sleepless nights by Vishal R
	.col-md-2
		p 
			| Built with
			img(src="/images/node.png",height="20") 
			| & #[a(href="/#") more]
