// Figure out how to insert line breaks
head
  title My Story 
  meta(name='keywords',content='coder,freelancer,developer,full-stack developer')
  meta(name='description', content='')
  meta(property='og:title', content='')
  meta(property='og:image', content='')
  meta(property='og:description', content='')
  meta(name='theme-color', content='#0084FF')
  meta(name='msapplication-navbutton-color', content='#0084FF')
  meta(name='apple-mobile-web-app-status-bar-style', content='#0084FF')
  meta(name='viewport', content='width=device-width, initial-scale=1 ,maximum-scale=1, user-scalable=0')
  meta(name='language', content='en-us')
  meta(charset='UTF-8')
  link(href='/css/main.css', type='text/css', rel='stylesheet')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Raleway+Dots', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Raleway:400,300,700', rel='stylesheet', type='text/css')
 
  script(src='/javascripts/jquery.js') 
  script(src='/javascripts/app.js') 