#landing-div
  .row
    .col-md-12(style='text-align:center; margin-top:150px;')
      img(style='border-radius:50%;', height='200', src='/images/me.jpg')
      h1.dotted Hi, I am Vishal
      h5.dotted and this is my story so far
  .row
    .col-xs-12(style='text-align:center')
      p.dotted(style='font-size:10px; color:#0084FF') #Developer #Dreamer #Musician #Traveller #Reader #Writer
  .row(style='padding:30px;')
    .col-xs-3
      p.menu Projects
    .col-xs-3
      p.menu Blog
    .col-xs-3
      p.menu About
    .col-xs-3
      p.menu Contact
