extends ../layout.jade
block content
	.row
		.col-md-12(style='text-align:center; margin-top:150px;')
			h5 Moving to 
			img(class="my-image",style='height:30px; margin-bottom:50px',src='https://cdn-images-1.medium.com/max/1600/1*TGH72Nnw24QL3iV9IOm4VA.png')
			h4 Apologies. Currently I am moving my blogs from Tumblr to Medium 
			h5 You found me in the middle of it 
			h6 My ideas and thoughts will continue to live on codelikeapainter.com once I am done with the migration
			h3 For now you can visit my medium here #[a(href="https://medium.com/@vishivish18") medium.com/@vishivish18]



	
