.row(style='padding:30px;')
      .col-xs-3
        p.menu
          a(href='/projects') Projects
      .col-xs-3
        p.menu
          a(href='http://www.codelikeapainter.com') Blog
      .col-xs-3
        p.menu
          a(href='/about') About
      .col-xs-3
        p.menu
          a(href='/contact') Contact