nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/',style="font-weight:300") Vishal Ranjan
    ul.nav.navbar-nav.navbar-right
      li.menu
        a(href='/projects') PROJECTS
      li.menu
        a(href='/blog') BLOG
      li.menu
        a(href='/about') ABOUT
      li.menu
        a(href='https://www.github.com/vishivish18', target='_blank')
          i.fa.fa-github.contact(aria-hidden='true')
      li.menu
        a(href='https://in.linkedin.com/in/vishalranjan18', target='_blank')
          i.fa.fa-linkedin.contact(aria-hidden='true')
      li.menu
        a(href='https://www.facebook.com/VishalRanjan18', target='_blank')
          i.fa.fa-facebook.contact(aria-hidden='true')
      li.menu
        a(href='mailto:me@vishalranjan.in?subject=Hello', target='_blank')
          i.fa.fa-envelope-o.contact(aria-hidden='true')
