extends ../layout.jade
block content
	include ./nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header PROJECTS
		p I love to code and bring my ideas to life...
		p sometimes to feed the body, mostly to feed the soul
	.row
		#project-item(style='margin-top:60px;')
			.col-md-offset-1.col-md-3.col-sm-offset-1.col-sm-3.col-xs-offset-2.col-xs-10
				a(href="/projects/mka")
					img(src="/images/mkalogo2.png",height="200", width="200")

			.col-md-offset-0.col-md-7.col-sm-offset-0.col-sm-7.col-xs-offset-1.col-xs-10
				p.project-title #[a(href="/projects/mka") MKA] 
					a(href="/projects/mka")
						span.glyphicon.glyphicon-link.link(style="font-size:12px;color:#95989A;") 



				p.project-subtitle A Desktop Application Which Cares For Your Health
				p.project-description(style='text-align:justify') MKA is an application aiming to improve your health related issues caused by sitting in front of computers for long hours via reminders. It is computer application that in equal intervals reminds you to take proper breaks.It is currently running version 1.0.2, which is a static application. We are thinking to take this further with computer intelligence involved so that it can study the user behavior and suggest breaks and reminders accordingly. This started as a fun project during college and was developed under Specta with few awesome people. The code was written in Java. You can download the current version #[a.hyper(href="http://www.specta.in/mka/") here]

	.row
		#project-item(style='margin-top:60px;')
			.col-md-offset-1.col-md-3.col-sm-offset-1.col-sm-3.col-xs-offset-1.col-xs-10
				a(href="http://decision-making.vishalranjan.in/")
					img(src="/images/decisionJS.png",height="200",)
			.col-md-offset-0.col-md-7.col-sm-offset-0.col-sm-7.col-xs-offset-1.col-xs-10
				p.project-title #[a(href="http://decision-making.vishalranjan.in/") Decision Making with JS]
					a(href="http://decision-making.vishalranjan.in/")
						span.glyphicon.glyphicon-link.link(style="font-size:12px;color:#95989A;") 
				p.project-subtitle Data driven decisions by visualization.
				p.project-description(style='text-align:justify') A project to make sense out of a CSV data, analyze it, and then visualize it to help in decision making using Javascript

	.row
		#project-item(style='margin-top:60px;')
			.col-md-offset-1.col-md-3.col-sm-offset-1.col-sm-3.col-xs-offset-1.col-xs-10
				a(href="http://tweetilytics.vishalranjan.in/")
					img(src="/images/tweetilytics.png",height="200",)
			.col-md-offset-0.col-md-7.col-sm-offset-0.col-sm-7.col-xs-offset-1.col-xs-10
				p.project-title #[a(href="http://tweetilytics.vishalranjan.in/") Tweetilytics]
					a(href="http://tweetilytics.vishalranjan.in/")
						span.glyphicon.glyphicon-link.link(style="font-size:12px;color:#95989A;") 
				p.project-subtitle #analytics for all tweets with a specific keyword 
				p.project-description(style='text-align:justify') Experiments with keywords to utilize the twitter API and provide demographic data and results. The app includes a crawler which crawls all tweets with a keyword and dashboard provides the graphical representation of daily trends and location based tweets.

	.row
		#project-item(style='margin-top:60px;')
			.col-md-offset-1.col-md-3.col-sm-offset-1.col-sm-3.col-xs-offset-2.col-xs-10
				a(href="/projects/open-flush")
					img(src="/images/openflush.png",height="200",)
			.col-md-offset-0.col-md-7.col-sm-offset-0.col-sm-7.col-xs-offset-1.col-xs-10
				p.project-title #[a(href="/projects/open-flush") Open Flush]
					a(href="/projects/openflush")
						span.glyphicon.glyphicon-link.link(style="font-size:12px;color:#95989A;") 
				p.project-subtitle A Mutiplayer Online Card Game
				p.project-description(style='text-align:justify') My first experience with a real time project, got a wonderful chance to work with awesome people in the mountains of mussorie. Though this project never got released due to some issues, this contributes a major portion of my learning and understanding of programming. We further went on developing the second version of this project on NodeJs. I will be writing a series of blog posts about my learning through this project and will upload a running model for this.
	.row
		#project-item(style='margin-top:60px;')
			.col-md-offset-1.col-md-3.col-sm-offset-1.col-sm-3.col-xs-offset-2.col-xs-10
				a(href="/projects/sanepharma") 
					img(src="/images/sanepharma.png",height="200", width="200")
			.col-md-offset-0.col-md-7.col-sm-offset-0.col-sm-7.col-xs-offset-1.col-xs-10
				p.project-title #[a(href="/projects/sanepharma") Sanepharma]
					a(href="/projects/sanepharma")
						span.glyphicon.glyphicon-link.link(style="font-size:12px;color:#95989A;") 
				p.project-subtitle Medical Stock Management
				p.project-description(style='text-align:justify') SanePharma is a company that sells and manufactures pharmaceuticals . They were looking to expand their reach and hence wanted to manage thier inventory and reports online. This projects caters to the stock management and billing requirements built on the MEAN stack. Since this is project with NDA (Non Disclousre Agreement )I am working to expand this project further for a common stock mangement portal, which can cater the needs of different types of sellers and manufacturers
	.row
		#project-item(style='margin-top:60px;')
			.col-md-offset-1.col-md-3.col-sm-offset-1.col-sm-3.col-xs-offset-2.col-xs-10
				a(href="/projects/mean-machine")
					img(src="/images/mean.png",height="200", width="200")
			.col-md-offset-0.col-md-7.col-sm-offset-0.col-sm-7.col-xs-offset-1.col-xs-10
				p.project-title #[a(href="/projects/mean-machine") Mean Machine]
					a(href="/projects/mean-machine")
						span.glyphicon.glyphicon-link.link(style="font-size:12px;color:#95989A;") 
				p.project-subtitle Boilerplate for MEAN apps
				p.project-description(style='text-align:justify') I have built this boilerplate based upon my learnings and understandings in different projects and inspired from various readings. It inclues gulp to automate tasks, and I plan to improve upon it and release a stable version for it with minimal required things plugged in. So that it may help people who stumble upon the same stair.
	.row
		#project-item(style='margin-top:60px;')
			.col-md-offset-1.col-md-3.col-sm-offset-1.col-sm-3.col-xs-offset-2.col-xs-10
				a(href="/projects/trail-tracker")
					img(src="/images/gps.png",height="200", width="200")
			.col-md-offset-0.col-md-7.col-sm-offset-0.col-sm-7.col-xs-offset-1.col-xs-10
				p.project-title #[a(href="/projects/trail-tracker") Trail Tracker]
					a(href="/projects/trail-tracker")
						span.glyphicon.glyphicon-link.link(style="font-size:12px;color:#95989A;") 
				p.project-subtitle Vehicle Tracking System
				p.project-description(style='text-align:justify') This one is a whole vehicle tracking system which includes a hardware device which plugs in your vehicle along with a web portal to track your vehicles
	.row
		#project-item(style='margin-top:60px;')
			.col-md-offset-1.col-md-3.col-sm-offset-1.col-sm-3.col-xs-offset-2.col-xs-10
				a(href="/projects/ultimate-tic-tac-toe")
					img(src="/images/tttcolored.png",height="150")
			.col-md-offset-0.col-md-7.col-sm-offset-0.col-sm-7.col-xs-offset-1.col-xs-10
				p.project-title #[a(href="/projects/ultimate-tic-tac-toe") Ultimate Tic Tac Toe]
					a(href="/projects/ultimate-tic-tac-toe")
						span.glyphicon.glyphicon-link.link(style="font-size:12px;color:#95989A;") 
				p.project-subtitle My Tryst With Artificial Intelligence
				p.project-description(style='text-align:justify') This remains my only experiment with AI (Artificial Inteliigence) till now. Developed a tic-tc toe game which can be played between two players or with a computer. It applies heuristic search and decides the relevant move. I wrote it in Java and currently working to convert it into online game using JavaScript. Since the intelligence developed last time did not have a learning approach, I will try to explore areas of NN and other learning patters while doing it again in JS </p>
	//- .row
	//- 	#project-item(style='margin-top:60px;')
	//- 		.col-md-offset-1.col-md-3.col-sm-offset-1.col-sm-3.col-xs-offset-2.col-xs-10
	//- 			img(src="/images/snakeswork.jpg",height="200")
	//- 		.col-md-offset-0.col-md-7.col-sm-offset-0.col-sm-7.col-xs-offset-1.col-xs-10
	//- 			p.project-title #[a(href="/projects/snakes-and-ladders") Snakes and Ladders]
	//- 			p.project-subtitle One Sleepless Night and OOPS
	//- 			p.project-description(style='text-align:justify') Developed out of curiosity of mine and demand of my two little demons (my nephew and niece) in one night, it remains one of the most important learning experiences, this project helped me understand what OOPS really means . Many of the concepts of object oriented programming became clear while doing this . Its built in Java and will soon extend it to OOJS (Object Oriented Java Script)

	
	
	include ./footer.jade

        
	