extends ../layout.jade
block content
	include ./nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header PROJECTS
		p I love to code and bring my ideas to life...
		p some to feed the body, most to feed the soul