extends ../layout.jade
block content
	include ./nav.jade
	#page-top(style='text-align:center')
		p.top-buffer.section-header Tech Stack
		p I am in love with this beautiful machine called computers...
		p The possiblities are endless of what we can create with it
	.row
		#project-item(style='margin-top:60px;')
			ul(style="list-style-type:none")
				li(style="display:inline")
					img(src="/images/angularcolor.png",height="200")
				li(style="display:inline")
					img(src="/images/nodejscolor.png",height="200")
				li(style="display:inline")
					img(src="/images/js_color.png",height="200")



	include ./footer.jade

        
	